/.vscode

# Frontend stuff
/frontend/dist

/frontend/.vscode
/frontend/node_modules

/frontend/.agent
/frontend/.gemini
/frontend/.impeccable

# Backend stuff
/Backend/venv/
/Backend/__pycache__/
/Backend/*.pyc